body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaf1ea;
    
}
.top{
    margin: 10% 10% 10% 10%;
}
nav{
    background-color: beige;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    justify-content:space-evenly
}
nav > div{
    height: 7vw;
    width: 8em;
    margin: 1%;
    padding: 2%;
    text-align: center;
    

}

nav > div > a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    text-align: left;
    color:black;
}

nav > div > h2{
    padding: 0%;
    margin: 0%;
    font-size: 4vw;
    
}

.page-links:hover{
    background-color: white;
}

.about{
    max-width: 400px;
    float: left;
    margin-right: 1vw;
    margin-bottom: 2vw;
}

.footer{
    max-height: 100px;
    background-color: rgb(194, 183, 160);
    display: flex;
    justify-content:space-around;
    bottom: 0;
    width: 100%;
    margin-right: 10%;
}
form {
    margin-top: 8vw;
}
.submit{
    border-radius: none;
    border: none;
    background-color: rgb(46, 110, 71);
    color:white;
    margin-top: 4vw;
    font-size: 2vw;
    width: 10vw;
    height: 4vw;
}