body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgb(220, 227, 231), rgb(144, 183, 190))
    
}
.top{
    margin: 10% 10% 10% 10%;
}
nav{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    justify-content:space-evenly
}
nav > div{
    height: 7vw;
    width: 8em;
    margin: 1%;
    padding: 2%;
    text-align: center;
    

}

nav > div > a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    text-align: left;
    color:black;
}

nav > div > h2{
    padding: 0%;
    margin: 0%;
    font-size: 4vw;
    
}

.page-links:hover{
    background-color: white;
}

.about{
    max-width: 400px;
    float: left;
    margin-right: 1vw;
    margin-bottom: 2vw;
}

.footer{
    max-height: 100px;
    background-color: rgb(41, 63, 95);
    display: flex;
    justify-content:space-around;
    bottom: 0;
    width: 100%;
    margin-right: 10%;
}
form {
    margin-top: 8vw;
    font-size: 3vw;
}
form > div{
    margin: 2vw 2vw 2vw 2vw;
}
textarea {
    border: none;
    width: 99%;
}
input[type=text]{
    border: none;
}
input[type=email]{
    border: none;
}
input[type=radio]{
    display: none;
}
input[type=radio] + label{
    background-color: darkgrey;
}
input[type=radio]:checked + label{
    background-color: aliceblue;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox] + label{
    background-color: darkgrey;
}
input[type=checkbox]:checked + label{
    background-color: aliceblue;
}
select{
    border: none;
}
.submit{
    border: none;
    background-color: rgb(46, 110, 71);
    color:white;
    margin-top: 4vw;
    margin-left: 3%;
    font-size: 2vw;
    width: 10vw;
    height: 4vw;
}